.header_div {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    background-color: rgba(155, 149, 124, 0.171);
    padding: 15px;
    font-size: 5vw;
    border-radius: 5px;
  }
  
  .header_div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-bottom: 400px;
  }
  
  .body_div {
    display: block;
    background-color: #e9e8e8;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15vw;
  }
  
  .form_header {
    background-color: rgb(216, 214, 214);
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .form_body {
    display: flex;
    flex-direction: column;
  }
  
  .form_body input {
    width: 80%;
    height: 25px;
  
    padding: 2px;
    border-radius: 5px;
    border-color: #dadada;
  }
  .form_body label {
    margin: 5px;
  }
  
  .form_footer {
    margin-top: 10px;
  }
  .form_footer button {
    margin-right: 5vw;
    padding: 5px;
    border-radius: 5px;
    background-color: #dadada;
  }
  .body2_div {
    margin-top: 80px;
    background-color: rgba(155, 149, 124, 0.171);
  }
  
  .first2divofbody2_div {
    display: flex;
    flex-direction: row;
  }
  
  .departments,
  .courses {
    ul {
      list-style: none;
    }
    li {
      margin-top: 10px;
    }
  }
  
  .last2divofbody2_div {
    padding: 30px;
  }
  
  .contact {
    margin-top: 40px;
  }
  .call {
    width: 20px;
    height: 15px;
  }
  @media only screen and (min-width: 601px) {
    .header_div {
      font-size: 30px;
      height: 50px;
      align-items: center;
    }
    .body_div {
      width: 30%;
      margin-left: 30%;
      margin-right: 30%;
      border: 2px solid rgb(121, 120, 120);
      background-color: white;
    }
    .body2_div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .form_header {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 5px;
    }
    .loginbutton {
      margin-right: 10px;
      margin-top: 5px;
      font-size: 23px;
    }
    .form_body input {
      width: 70%;
      height: 25px;
      border: 2px solid rgb(216, 214, 214);
    }
  
    .first2divofbody2_div {
      padding: 10px;
  
      width: 50%;
    }
  
    .last2divofbody2_div {
      display: flex;
  
      width: 50%;
    }
    .contact {
      margin-right: 50px;
      margin-top: 10px;
    }
  }