.navbar{
    background-color: rgb(218, 154, 76);

}
.nav-link{
    color:black;
    font-weight: 500;
}
@media only screen and (max-width: 768px) {
    .toggle{
        height: 50px;
        width: 50px;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    element.style{
        background-color: blue;
    }
  }